
@{
    ViewBag.Title = "Warmup";
}
<link href="~/Content/WarmupIndex.css" rel="stylesheet" />

<body id="body">

    <h1 style="position:absolute; left:45%; color:white; font:bold 50px arial; "></h1>


</body>