#HomePage {
    background: url(/Resources/warmup.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.jumbotron {
   background-color: rgb(0,0,0);
    /*font:bold 60px arial;*/
    color:white;
    opacity:0.6;
}



.blockbutton {
    font:bold 40px arial;
    color:white;
    text-align:center;
    
    background-color: rgba(0,0,0,0.6);
    height:100px;
}
.labelnavigate{
    opacity:0.3;
    padding-top:25px;
}


